*.cbp
ChessProto.layout
bin/Debug/chessProto.exe
*.depend
chessProto.layout
*.o
obj/Debug/chessPiece.o
*.o
bin/Debug/chessProto.exe
chessProto.depend
*.layout
*.exe
*.exe
chess.zip
*.depend
chessProto.layout
*.o